@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css");

$PrimaryColor: #ddf293;
$SecondaryColor: #192032;
$WhiteColor: #fefefe;
$Background: #e9eaee;
$BlackColor: #050b1b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almarai", Arial;
}
