@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

$PrimaryColor: #5c5050;
$SecondaryColor: #e99e75;
$GreyColor: #3a3a3a;
$WhiteColor: #ffffff;
$Background: #222222;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
