@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css");

$PrimaryColor: #a68afa;
$SecondaryColor: #bcee47;
$WhiteColor: #edeef2;
$GreyColor: #d7d8dc;
$BlackColor: #262624;

$Border: 22px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almarai", Arial;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
